/* 此文件不走 css modules，且会自动被引入，可以在这里写全局样式，以及做样式覆盖。 */

ol, ul {
  list-style: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
  color:#999;
}

#root {
  height: 100%;
}

@import "./assets/styles/index.less";
